.aptitudes-section {
  position: relative;
  top: 3rem;
}

.div-aptitudes-h2 {
  padding: 1.5rem;
  border-bottom: 0.05rem solid rgba(195, 195, 195, 0.8);
  border-top: 0.05rem solid rgba(195, 195, 195, 0.8);
}

.div-aptitudes-h2 h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  color: rgb(68, 7, 114);
}

/* Aptitud CARD */
.aptitudes_card_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.aptitud_card {
  width: 15rem;
  height: 2.5rem;
  background-color: white;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
}

.aptitud_bar-val {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.aptitud_titulo {
  display: flex;
  justify-items: flex-start;
  padding-left: 0.3rem;
}

.aptitud_titulo h4 {
  font-family: 'Poppins', sans-serif;
  color: rgba(60, 57, 76);
  font-weight: 400;
  font-size: 0.6rem;
}

.aptitud_val h3 {
  font-family: 'Poppins', sans-serif;
  color: rgba(255, 36, 222, 0.75);
  font-weight: 400;
  font-size: 0.6rem;
}

.aptitud_bar_90 {
  width: 12.5rem;
  height: 0.6rem;
  border-radius: 0.2rem;
  display: inline-block;
  background: linear-gradient(
      to left,
      rgba(60, 57, 76) 0%,
      rgba(60, 57, 76) 50%,
      rgba(255, 36, 222, 0.75) 50%,
      rgba(255, 36, 222, 0.75) 100%
    )
    right;
  background-size: 200%;
  background-position: 10%;
  animation: 2s ease-in-out 0s 1 bar_90;
}

@keyframes bar_90 {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 10%;
  }
}

.aptitud_bar_80 {
  width: 12.5rem;
  height: 0.6rem;
  border-radius: 0.2rem;
  display: inline-block;
  background: linear-gradient(
      to left,
      rgba(60, 57, 76) 0%,
      rgba(60, 57, 76) 50%,
      rgba(255, 36, 222, 0.75) 50%,
      rgba(255, 36, 222, 0.75) 100%
    )
    right;
  background-size: 200%;
  background-position: 20%;
  animation: 2s ease-in-out 0s 1 bar_80;
}

@keyframes bar_80 {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 20%;
  }
}

.aptitud_bar_75 {
  width: 12.5rem;
  height: 0.6rem;
  border-radius: 0.2rem;
  display: inline-block;
  background: linear-gradient(
      to left,
      rgba(60, 57, 76) 0%,
      rgba(60, 57, 76) 50%,
      rgba(255, 36, 222, 0.75) 50%,
      rgba(255, 36, 222, 0.75) 100%
    )
    right;
  background-size: 200%;
  background-position: 25%;
  animation: 2s ease-in-out 0s 1 bar_75;
}

@keyframes bar_75 {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 25%;
  }
}
